.slider-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: $white;
  border-bottom: 4px solid $main-color;

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    text-decoration: none;

    #{$block-name}__title {
      color: $main-color;
    }
  }

  &__img {

    img {
      display: block;
    }
  }

  &__text {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
    color: $text-color;

    @media (min-width: $screen-md) {
      padding: 20px;
    }

    & > * {
      width: 100%;
    }
  }

  &__title {
    //height: 42px;
    margin: 0 0 20px;
    transition: color 0.2s ease-out;

    @media (min-width: $screen-md) {
      //height: 48px;
    }
  }

  &__subtitle {
    margin-top: 20px;
    color: $main-color;
  }

  &__date {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  &__author {
    display: block;
    margin-top: auto;
    font-size: 16px;
    font-weight: 500;
  }

  &__descr {
    margin: 20px 0;
  }

  &__specialty {

    span {
      display: block;
    }
  }

  &--blog {
    background-image: linear-gradient(to left, $block-bg, $block-bg 135px, transparent 135px);
    border-bottom: none;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #{$block-name}__title {
      height: auto;

      @media (min-width: $screen-md) {
        height: auto;
      }
    }

    #{$block-name}__img {

      @media (min-width: $screen-md) {
        flex-grow: 0;
      }
    }

    #{$block-name}__text {

      @media (min-width: $screen-md) {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
      }
    }

    #{$block-name}__author {

      @media (min-width: $screen-md) {
        margin-top: auto;
      }
    }
  }
}
