$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 50px;

  @media (min-width: $screen-md) {
    justify-content: flex-start;
    margin-top: 30px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 45px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    //margin: 0;
    //padding-left: 0;
    //list-style: none;

    li + li {
      //margin-left: 13px;

      @media (min-width: $screen-md) {
        //margin-left: 15px;
      }
    }
  }

  &__item {
    margin: 0;

    &.active {

      a {
        color: $white;
        background-color: $main-color;
        pointer-events: none;
      }
    }

    &--prev {
      margin-right: 20px;
    }

    &--next {
      margin-left: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: $text-muted;
    background-color: $white;
    border-radius: 50%;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      background-color: $main-color;

      svg {
        fill: currentColor;
      }
    }

    &--disabled,
    &:disabled {
      background-color: $block-bg;
      pointer-events: none;

      svg {
        fill: $text-muted !important;
      }
    }

    span {
      color: inherit;
      transform: translateY(1px);
    }

    svg {
      display: block;
      width: 8px;
      height: 14px;
      fill: $main-color;
    }
  }
}
