.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  min-width: 180px;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $title-color;
  border-radius: $border-radius;
  //border: 1px solid $gray-lighter;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  cursor: pointer;

  span {
    display: block;
    position: relative;
    padding: 12px 12px;

    @media (min-width: $screen-md) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 21px;
      bottom: 15px;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: $main-color;
      transition: all 0.2s ease-out;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;

    span {

      &::after {
        top: 0;
        bottom: 0;
      }
    }
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    color: $secondary-color;
    cursor: not-allowed;

    span {

      &::after {
        top: 0;
        bottom: 0;
        opacity: 0.45;
      }
    }

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--main {
    color: $main-color;
    background-color: $white;
    border: 2px solid $main-color;
    transition: all 0.2s ease-out;

    span {
      padding-top: 10px;
      padding-bottom: 10px;

      &::after {
        display: none !important;
      }
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $main-color;
    }

    &--disabled,
    &:disabled {
      color: $secondary-color;
      background-color: rgba(91, 160, 96, 0.45);
      border-color: rgba(255, 255,255, 0);
      cursor: not-allowed;

      @at-root a.btn--main--disabled {
        pointer-events: none;
      }
    }
  }
}

.btn-submit {
  box-sizing: border-box;
  display: inline-block;
  min-width: 180px;
  margin: 0;
  padding: 10px 12px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $title-color;
  border-radius: $border-radius;
  border: 2px solid $main-color;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  cursor: pointer;
  transition: all 0.2s ease-out;

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $main-color;
  }

  &--disabled,
  &:disabled {
    color: $secondary-color;
    background-color: rgba(91, 160, 96, 0.45);
    border-color: rgba(255, 255,255, 0);
    cursor: not-allowed;
    pointer-events: none;
  }
}
