.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__top {

    @media (min-width: $screen-md) {
      background-image: linear-gradient(to right, $white, $white 50%, $title-color 50%);
    }
  }

  &__menu-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 4);
  }

  &__contacts-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 8);
  }

  &__menu {
    padding: 30px 0;

    @media (min-width: $screen-xl) {
      padding: 40px 0;
    }
  }

  &__menu-title {
    margin-top: 0;
  }

  &__nav {
    font-size: 14px;
    font-weight: 600;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;
    }
  }

  &__nav-item {
    margin-top: 0;
    margin-bottom: 15px;

    @media (min-width: $screen-xl) {
      width: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(odd) {

      @media (min-width: $screen-xl) {
        padding-right: 40px;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__contacts {
    position: relative;
    height: 100%;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    background-color: $title-color;

    @media (min-width: $screen-md) {
      padding-left: 60px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      width: 15px;
      height: 100%;
      background-color: $title-color;

      @media (min-width: $screen-md) {
        display: none;
      }
    }

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }
  }

  &__contacts-title {
    margin-top: 0;
    color: inherit;
  }

  &__contacts-list {

  }

  &__contacts-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    span,
    a {
      text-decoration: none;
      color: inherit;
    }

    a {

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__copyrights {
    padding: 12px 0;
    font-size: 13px;
    font-weight: 500;
    color: $white;
    background-color: $main-color;
  }

  &__copyrights-text-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 8);
    @include col(xl, 10);
    margin-bottom: 12px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__copyrights-dev-col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 4);
    @include col(xl, 2);
    display: flex;
    align-items: flex-end;

    @media (min-width: $screen-md) {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &__copyrights-text {
    height: 100%;

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    a,
    span {
      display: inline-block;
      vertical-align: baseline;
      text-decoration: none;
      color: inherit;
    }

    span {
      width: 100%;

      @media (min-width: $screen-xl) {
        width: auto;
      }
    }

    a {
      margin-top: 10px;

      @media (min-width: $screen-xl) {
        margin-top: 0;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__copyrights-dev {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: $white !important;

    &:hover,
    &:focus {

      span:first-child {
        text-decoration: underline;
      }
    }

    span {
      flex: 0 0 auto;
    }

    span + span {
      margin-left: 10px;
    }
  }
}
