.couch-filter {
  padding: 20px 10px;
  margin-bottom: 20px;
  border: 2px solid $border-color;

  @media (min-width: $screen-md) {
    padding: 20px;
    margin-bottom: 40px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 0;
  }
}
